<template name="airQualityDetails">
  <div class="airQualityDetailsHeader">
    <div>
      <a href="#" id="detMinMax" class="pull-left">
        <span id="detMinMaxSpan" class="glyphicon glyphicon-minus"></span>
      </a>
    </div>
    <div> Air Quality Details </div>
  </div>
  <br>
  <div id="airQualityDetails">
    <div><b>AQI : </b> {{this.AQI}} </div>
    <div><b>Date Reported : </b> {{formatDate this.UTC}}</div>
    <div><b>Category : </b> {{this.Category}} </div>
    <div><b>Parameter : </b> {{this.Parameter}} </div>
    <div><b>Unit : </b> {{this.Unit}} </div>
    <div><b>Value : </b> {{this.Value}} </div>
    <div><b>Latitude : </b> {{this.Latitude}} </div>
    <div><b>Longitude : </b> {{this.Longitude}} </div>
  </div>
</template>
