html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

.airwatchLabel {
  font-weight: bold;
  font-family: Fjalla One;
}

#affordanceOpen {
  color: #0078A8;
  margin-left: 5px;
  font-size: small;
}

#mapLegendPanel {
  width: 280px;
}

.legendPad{
  margin: 5px 5px 5px 5px;
}

.legendItemPad{
  margin-right: 10px;
}

.airQualityDetailsHeader{
	font: 18px/22px Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 10px;
}

#airQualityStateDiv{
	margin: 0px 0px 0px 4px;
}

#gotit{
	margin: 15%;
}

p.intro {
  line-height: 1.5;
  margin: 5px 0 35px 0;
  font-size: larger;
}

.logo {
	padding: 6px 8px;
	font: 20px/22px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

#affordanceOpen{
	float:right;
}

.splash{
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
}

.legend {
	font-size: smaller;
	font-weight: bold;
	margin-left: 20px;
	display: inline-block;
	position: relative;
	top: -22px;
	text-align: left;
}

.legendBlock {
	width: 17px;
	height: 17px;
	vertical-align: middle;
	display: inline-block;
}

#container {
  width: 100%;
  height: 100%;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.notice {
  margin: 10px 0 5px 0;
  line-height: 1.5;
  text-align: center;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.airQuality-detail {
	width:320px;
	height:250px;
	overflow: auto;
}

@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */
  .notice {
    font-size: 11px;
  }
}

@media all and (max-width: 320px) {
  /* styles for iPhone/Android portrait */
  .notice {
      font-size: 11px;
  }
}

@media all and (max-width: 240px) {
  /* styles for smaller devices */
  .notice{
    font-size: 11px;
  }
}

.AQImarker {
	border-radius: 50%;
	width: 15px;
	height: 15px;
  border: 1px solid black;
}

.AQIcategory1{
  background: #00e400;
}

.AQIcategory2{
  background: #ffff00;
}

.AQIcategory3{
  background: #ff7e00;
}

.AQIcategory4{
  background: #ff0000;
}

.AQIcategory5{
  background: #99004c;
}

.AQIcategory6{
  background: #7e0023;
}
